#timestampdiv input {padding:0px !important; margin:0px !important;width:70%;}
#timestampdiv select{padding:0px !important; margin:0px !important;}
#contenthtml {width:100%;}
div.inside {margin:0px; padding:4px;}
