#timestampdiv input {padding:0px !important; margin:0px !important;}
#timestampdiv select{padding:0px !important; margin:0px !important;}
#contenthtml, .wp100 {width:100%;}
div.inside {margin:0px; padding:4px;}
